NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
RUNPOD_API_KEY=
RUNPOD_IMAGE_ENDPOINT_ID=
RUNPOD_EDIT_ENDPOINT_ID=
RUNPOD_VIDEO_ENDPOINT_ID=
RUNPOD_SYNC_TIMEOUT_MS=120000
Z_IMAGE_UNET_NAME=zImageTurboNSFW_72BF16.safetensors
Z_IMAGE_CLIP_NAME=qwen_3_4b.safetensors
Z_IMAGE_VAE_NAME=ae.safetensors
